<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Current Password</mat-label>
      <input matInput formControlName="currentPassword" placeholder="Enter current password" type="password">
      <mat-error *ngIf="changePasswordForm.controls['currentPassword'].invalid && changePasswordForm.controls['currentPassword'].touched">
        Current password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput formControlName="newPassword" placeholder="Enter new password" type="password">
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched">
        New password is required and must be at least 8 characters long
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Save</button>
    </div>
  </form>
</div>
